<!DOCTYPE html>
<html lang="zh-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
    content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
  <link rel="stylesheet" href="../../style/css/cssreset.css">
  <link rel="stylesheet" href="../../style/css/main.css">
  <link rel="stylesheet" href="../../style/css/grades.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>
  <title>歷屆成績查詢</title>
</head>

<body>
  <div class="wrap">
    <div class="dropBtn d-flex">
      <select class="choose" id="Semester">
        <option value="Semester" selected hidden disabled>學年度</option>

      </select>
      <select class="choose" id="Term">
        <option value="Term" selected hidden disabled>學期</option>
        <option value="1">1</option>
        <option value="2">2</option>
      </select>
    </div>
    <div class="Load">
      <div class="loading" id="loading">
        <span style="--i:1;"></span>
        <span style="--i:2;"></span>
        <span style="--i:3;"></span>
        <span style="--i:4;"></span>
        <span style="--i:5;"></span>
        <span style="--i:6;"></span>
        <span style="--i:7;"></span>
        <span style="--i:8;"></span>
        <span style="--i:9;"></span>
        <span style="--i:10;"></span>
        <span style="--i:11;"></span>
        <span style="--i:12;"></span>
        <span style="--i:13;"></span>
        <span style="--i:14;"></span>
        <span style="--i:15;"></span>
        <span style="--i:16;"></span>
        <span style="--i:17;"></span>
        <span style="--i:18;"></span>
        <span style="--i:19;"></span>
        <span style="--i:20;"></span>
      </div>
    </div>
    <div class="tableForGrades mt-3">
      <table class="table align-middle table-borderless" id="courseTable"></table>
    </div>
    <div class="totalData">
      <div class="totalRank">
        <h6>總排名</h6>
        <div class="rank" id="rank"></div>
      </div>
      <div class="avgScore">
        <h6>總平均分數</h6>
        <div class="avg" id="avg"></div>
      </div>
      <div class="totalCredit">
        <h6>總實得學分</h6>
        <div class="credit" id="credit"></div>
      </div>
    </div>
    <div class="semesterRank" id="semesterRank">
      <h4>系排 : <span>18</span></h4>
    </div>
    <div class="score d-flex">
      <div class="currScore">
        <h5>實得 / 應得</h5>
        <h6>學分</h6>
        <div class="outer">
          <svg width="100" height="100">
            <defs>
              <linearGradient id="GradientColor1">
                <stop offset="0%" stop-color="#30cfd0" />
                <stop offset="100%" stop-color="#330867" />
              </linearGradient>
            </defs>
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <div class="inner">
            <div class="curr" id="currNumber"></div>
            <span class="divide">/</span>
            <div class="goal" id="goalNumber"></div>
          </div>
        </div>
      </div>
      <div class="semesterScore">
        <h5 class="pb-3">平均分數</h5>
        <div class="outer">
          <svg width="100" height="100">
            <defs>
              <linearGradient id="GradientColor2">
                <stop offset="0%" stop-color="#88d3ce" />
                <stop offset="100%" stop-color="#6e45e2" />
              </linearGradient>
            </defs>
            <circle cx="50" cy="50" r="50"></circle>
          </svg>
          <div class="inner">
            <div class="semester" id="currSemester">80.88</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../../js/grades.js"></script>
</body>

</html>